body{
  background-color: rgb(170, 254, 254);;
}

.App {
  text-align: center;
}

.input-group{
  margin-top: 80px;
}

.contact-title{
  margin-top: 40px;
}

#accordionFlushExample{
  margin-top: 100px !important;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar{
  background-color: rgb(170, 254, 254);
}

#contact-form{
  margin-top: 60px;
  text-align: left;
}

.fa-location-dot{
  position: relative;
animation: mymove 0.9s infinite;
}

@keyframes mymove {
  from {bottom: 0px;}
  to {top: 30px;}
}

.city-name{
  font-family:  'Nunito Sans', sans-serif;
  font-size:80px !important;
}

.temp{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 50px;
}

